// Configuration file for VH-XVG

aircraft = "VH-XVG";

options =
{
  door_switches = 1;
  engine_start_interlock = 1;
  flap_controller = 1;
  old_battery_backup_board = 0;
  battery_display = 1;
  o2_sensor = 1;
  vibration_sensor = 1;
  vib_source = 3;
  vib_live_rotations = 2;
  vib_snapshot_rotations = 10;
  ac_display = 1;
  hf_display = 0;
}

filenames =
{
  initial_screen = "assets/images/startup_base.jpg";
  config_writeback = "new_mo.config";
}

pilots =
{
  // Add the main pilot(s) here. For example:
  // pilot1 = { name = "John"; fullname = "John Smith"; code = "1234"; administrator = 1; };
  // pilot2 = ... etc.

  // The following are for development work only
  pilot3 = { name = "local fake"; fullname = "local fake"; code = "1239"; administrator = 1; local_fake_data = 1; };
  pilot4 = { name = "efi fake"; fullname = "efi fake"; code = "1238"; administrator = 1; efi_fake_data = 1; };
  pilot5 = { name = "efi diag"; fullname = "efi diag"; code = "1237"; administrator = 1; efi_diag_data = 1; };
  pilot6 = { name = "real with fake engine"; fullname = "real with fake engine"; code = "1236"; administrator = 1; real_with_fake_engine = 1; };
}

display =
{
  width = 480;
  height = 128;
  plot_height = 112;
  y_over_fs = 105;
  y_fs = 100;
  y_fault = 95;
  main_label_font = 27;
  small_axis_font = 20;
  normal_line_width = 16;
  fault_line_width = 16;
  caution_line_width = 16;
  pumpstart_line_width = 16;

  clear_color = "0,0,0";
  axis_color = "26,26,192";
  //normal_label_color = "150,150,150";
  normal_label_color = "255,255,255";
  //dim_label_color = "150,150,150";
  dim_label_color = "255,255,255";
  fault_label_color = "255,0,0";
  normal_line_color = "0,255,0";
  normal_title_color = "0,255,0";
  //fault_line_color = "100,0,0";
  fault_line_color = "255,0,0";
  caution_line_color = "255,181,0";
  pumpstart_line_color = "0,255,0";
  pumpstart_xscale = 2;                     // Magnify X scale on pump start log if > 1
  vib_line1_color = "0,255,255";            // IIS3 sensor line
  vib_line2_color = "255,0,0";              // ADXL sensor line

  screenshot_options = 2;                   // PNG file only

  air_fuel_ratio_correction = 0.0;          // Corrects for sensor error, determined by peak EGT testing

  left_coilpack_alternator_threshold = 6700;
  right_coilpack_alternator_threshold = 6350;
}

logging =
{
  enable = 0;                                       // 1 to enable full time logging
  log_time = 0;                                     // For testing, non zero means log for this # seconds on startup
  log_snapshot_time = 10;                           // Time in seconds for display actuated snapshot
  log_above_rpm = 0;                                // If non-zero, log operations above this RPM (e.g. 2500 to log climbs)
  log_above_rpm_post_seconds = 0;                   // # seconds to continue after a log_above_rpm logfile.
  directory_arm = "/media/port/XVG_Logs";           // External USB on ARM
  directory_other = "/run/media/port/XVG_Logs";     // External USB on Fedora
  directory_default = "runtime/logs/test";          // Default place if others not found
}

flaps =
{
  reflex = 200;
  zero = 700;
  half = 2100;
  full = 3800;
  deadband = 32;
  sensor_reversed = 0;
}

// Lidar limits for takeoff/landing callouts and logging
lidar =
{
  enabled = 0;
  callouts =
    (
      { limit = 100.0; say_feet = 1; text = "One hundred"; },
      { limit =  50.0; say_feet = 1; text = "Fifty"; },
      { limit =  30.0; say_feet = 1; text = "Thirty"; },
      { limit =  20.0; say_feet = 0; text = "Twenty"; },
      { limit =  10.0; say_feet = 0; text = "Ten"; },
      { limit =   5.0; say_feet = 0; text = "Five"; },
      { limit =   2.0; say_feet = 0; text = "Two"; },
      { limit =   1.0; say_feet = 0; text = "One"; },
      { limit =   0.0; say_feet = 0; text = "Touchdown"; }
    );
  log_points = 1000;                    // How many points to log for takeoffs and landings
  height_above_wheels = 2.25;           // 27 / 12. XXX Not in-flight value yet, this is on-ground value.
  takeoff_margin = 10.0;
  callout_margin = 0.3;
  landing_log_runon_seconds = 5;
  takeoff_filename = "takeoff";
  landing_filename = "landing";
}

// Used for office testing the Lidar unit, hand-held.
// Select this one with the "--lidar-test" startup flag.
lidar_test =
{
  enabled = 0;
  callouts =
    (
      { limit =   5.0; say_feet = 1; text = "Five"; },
      { limit =   4.0; say_feet = 1; text = "Four"; },
      { limit =   3.0; say_feet = 0; text = "Three"; },
      { limit =   2.0; say_feet = 0; text = "Two"; },
      { limit =   1.0; say_feet = 0; text = "One"; },
      { limit =   0.0; say_feet = 0; text = "Touchdown"; }
    );
  log_points = 200;
  height_above_wheels = 0.5;
  takeoff_margin = 0.6;
  callout_margin = 0.3;
  landing_log_runon_seconds = 2;
  takeoff_filename = "takeoff";
  landing_filename = "landing";
}
